<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AITVET_Database.Properties.Settings._ConnectionString"
            connectionString="Data Source=192.168.0.102;Initial Catalog=AITVET;User ID=sa;Password=abc123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
